   *{
            font-family: 'Autour One', cursive;
        }
        #tabuleiro{
            /*position:absolute;
            left:50%;
            margin-left: -240px;
            top:50%;
            margin-top: -200px;*/

        }
        
        #tubo1, #tubo2{
            width:200px;
            height:8px;
            background-color: grey;
            margin:2px;
        }
        #vida1, #vida2{
            width:100%;
            height:8px;
            background-color: green;
        }
        
        h2{
            margin:0;
        }
        #j1, #j2{
            width: 20px;
            height: 20px;
            background-color: green;
        }
        section{
            width: 400px;
            height: 50px;
            margin-top: 28%;
            border: 0.5px solid gray;
            padding:5px;

        }
        
        .celulas{
             border: 1px solid black;
             width:80px; height: 80px;
        }